<div>
    <section class="banner">
        HOT SALE -30% EN SANDALIAS
    </section>
    <section class="directory">
        <a href="#">DIRECTORIO DE TIENDAS</a>
        <a href="#">SERVICIO AL CLIENTE</a>
        <a href="#">MI CUENTA</a>
    </section>
    <nav class="nav-shop">
        <div class="left-items nav-left">
            <div class="title">
                <img src="assets/img/12.jpg" alt="" />
                <a href="">Hush Puppies</a>
            </div>
            <div class="categories">
                <ul>
                    <li>HOMBRE</li>
                    <li>MUJER</li>
                    <li>BLOG</li>
                    <li>HISTORIA</li>
                    <li>TIENDAS</li>
                </ul>
            </div>
        </div>
        <div class="left-items nav-right">
            <div>
                <form action="">
                    <input placeholder="Buscar" id="GET-name" type="text" name="name" />
                    <i class="bi bi-chevron-right"></i>
                </form>
            </div>
            <div>
                <p class="color-secundary">ENVÍO GRATIS PARA PEDIDOS SUPERIORES A $300.000</p>
            </div>

            <div class="cart">
                <i class="bi bi-cart"></i>
                <span>CARRITO 0</span>
            </div>
        </div>
    </nav>
</div>
