<div>
    <div class="shoe-box">
        <div class="div-left">
            <div class="div-left left-items">
                <lib-ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage></lib-ngx-image-zoom>
                <hr>
                <div class="product-swatch">
                    <img class="" src="{{myThumbnail}}" alt="">
                    <img src="{{myThumbnail}}" alt="">
                    <img src="{{myThumbnail}}" alt="">
                    <img src="{{myThumbnail}}" alt="">
                    <img src="{{myThumbnail}}" alt="">
                </div>
            </div>
        </div>
        <div class="div-right left-items">
        </div>
    </div>
</div>