:host(app-product-list) {
	$light: #e7e6e2;
	$secundary: #7a4a58;

	.color-secundary {
		color: $secundary;
	}
	.feed-carousel-product {
		display: flex;
		flex-wrap: wrap;
	}

	.title-product-block {
		background-color: $light;
		padding: 3px;
		font-weight: bold;
	}

	.feed-carousel-product {
		padding: 3em 1em;
		display: flex;
		justify-content: space-around;

		.product-tile-carousel-item img {
			width: 150px;
		}

		.produc-swatch img {
			width: 40px;
		}

		.carousel {
			margin: 0.5em;
			text-align: center;
			align-self: flex-end;
		}
		p {
			margin: 10px;
		}
		button {
			background-color: $secundary;
			border: 1px solid $secundary;
			color: white;
			padding: 12px;
			font-weight: 700;
			font-size: 0.7em;
		}
		.product-name {
			font-weight: bold;
			font-family: "Monserrat-Regular";
			font-size: 0.7em;
		}

		.product-price {
			color: $secundary;
		}
	}
}
