<div>
    <div class="nav-footer-top">
        <p class="top-title">@HUSHPUPPIESCO</p>
        <p class="icons">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
        </p>
    </div>
    <div class="nav-footer-bottom">
        <div class="link-col">
            <p>SERVICIO AL CLIENTE</p>
            <ul>
                <li>CONTÁCTENOS</li>
                <li>CAMBIOS Y DEVOLUCIONES</li>
                <li>POLÍTICAS DE LA TIENDA</li>
                <li>POLÍTICAS DE DATOS</li>
            </ul>
        </div>
        <div class="link-col">
            <p>MI CUENTA</p>
            <ul>
                <li>MIS PEDIDOS</li>
                <li>MIS DEVOLUCIONES</li>
            </ul>
        </div>
        <div class="link-col">
            <p>RECURSOS</p>
            <ul>
                <li>TIENDAS</li>
                <li>DEVOLUCIONES</li>
            </ul>
        </div>
        <div class="link-col">
            <p>NEWSLETTER</p>
            <ul>
                <li>Regístrate para sel el primero en recibir nuestra noticias</li>
            </ul>
            <div>
                <form action="">
                    <input placeholder="E-MAIL" type="text" name="name" />
                    <i class="bi bi-chevron-right"></i>
                </form>
            </div>
        </div>
    </div>
</div>
