/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Brother-deluxe';
    src: local("Brother-deluxe"), url(./assets/fonts/brotherDeluxe1350____2011.ttf) format("truetype");
}
@font-face {
    font-family: 'Nashville';
    src: local("Nashville"), url(./assets/fonts/NASHVILL.TTF) format("truetype");
}
@font-face {
    font-family: 'Monserrat-Bold';
    src: local("Nashville"), url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'Monserrat-Regular';
    src: local("Nashville"), url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Cuttyfruty';
    src: local("Nashville"), url(./assets/fonts/CuttyFruty.ttf) format("truetype");
}